  <section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">WeEat - A food delivery application</h2>
                <hr class="light">
                <p class="text-faded">WeEat is a commission-free online food ordering platform helping restaurants serve their customers and simplifying the customer ordering experience!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
